SUPABASE_URL=https://uotolqeeakowhxkpjyrw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvdG9scWVlYWtvd2h4a3BqeXJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQzNjk2NjQsImV4cCI6MjA0OTk0NTY2NH0.zx-uMvXSx1tdpM9dDsa-8yRt6383WugWLB8OBDXYVsY